.DS_Store
.env
.env.*
!.env.example

/node_modules/

# React Router
/.react-router/
/build/

# Storage
/storage/

# Local SQLite files
*.db
*.db-shm
*.db-wal

# Local dev logs
dev-server.log
.vercel
.env*
